*{
    margin:0px;
    padding:0px;
}
#row1{
    background-color: black;
    padding:20px 60px;
    overflow: auto;
    display: block;
    width:100%;
}
                #header{
                    width: 960px;
                    margin: 0 auto;
                }
                #hgroup{
                    float: left;
                    margin: 0 0 20px 0;
                }
                h1,h2{
                    display:block;
                    color:#C0BAB6;
                }
                #hgroup h1{
                    font-weight: normal;
                    text-transform: none;
                    font-size: 36px;
                }
                #row1 a{
                    color: #C0BAB6;
                    outline: none;
                    text-decoration: none;
                }
                #hgroup h2{
                    font-size: 13px;
                    font-weight: normal;
                    text-transform: none;
                }
                #nav{
                    float:right;
                    margin: 0px 0 0 0;
                    padding: 20px 0;
                    color: #C0BAB6;
                    background-color: #232323;
                    
                }
                #nav ul{
                    padding: 0 20px;
                    list-style-type: none;
                    background-color: #232323;
                }
                #nav ul li{
                    display: inline;
                    margin-right: 25px;
                    text-transform: uppercase;
                }
                #nav ul li:hover{
                    color: orange;
                    cursor: pointer;
                }
#row2{
    margin:40px 30px 50px 200px;
    overflow: auto;
}

    .image1{
    float:left;
    margin-right:10px;
    border:1px solid black;
    display: block;
    text-align: center;
}
#row3{
    border: 1px solid black;
    margin:40px 200px 50px 195px;
    text-align: center;
    font-size: 20px;
}

#row4{
    margin:0px 200px 50px 195px;
    border:1px solid black;
    height:400px;
    padding: 30px;
}
    #category{
        height: 300px;
        border: 1px solid black;
        float:right;
        list-style-type: none;
        padding: 30px;
    }
        #category ul{
            list-style-type: none;
        }
            #category ul li{
                color:black;
                text-align: center;
            }
                #category ul li a{
                    color:black;
                    text-align: center;
                }
    