/*header h1 fort size:36px;*/
/*header h1 fort size:13px;*/
/* color: #C0BAB6; text color */
/* background-color: #333333; */
/* background-color: #232323; Link bg color*/
/* border: 1px solid #666666; */

/* ============================Common Elements========================== */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  color: #c0bab6;
}

a {
  text-decoration: none;
  color: #c0bab6;
}

.row1 {
  background-color: #232323;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 960px));
  place-content: center;
}

.wrapper {
  width: 100%;
}

/* ============================================ Header  ============================================  */
header {
  padding: 20px 0;
  background-color: #232323;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
}

/* ============================Title========================== */
header #title h1 {
  font-size: 36px;
  font-weight: normal;
}

header #title h2 {
  font-size: 13px;
  font-weight: normal;
}

/* ============================Form========================== */
header form {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  align-content: center;
}

header form fieldset {
  border: none;
}

header form #searchbox {
  /* float:left; */
  width: 200px;
  padding: 5px;
  border: 1px solid #666666;
  font-size: 12px;
  background-color: white;
  font-size: 12px;
  color: white;
}

header form #submit {
  width: 70px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ff9900;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px;
}

/* ============================Nav========================== */
nav {
  background-color: #232323;
  grid-area: 2/1/2/3;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  justify-items: center;
}

nav ul li {
  text-transform: uppercase;
}

nav ul li a {
  color: #979797; }

/* ================================================================================================================= */

/* ============================================ Section ============================================  */

.container {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 960px));
  place-content: center;
}

/* ============================ Section 1 ========================== */
.section1 {
  margin-bottom: 30px;
}

.section1 img {
  width: 100%;
  height: 360px;
}

/* ============================ Section 2 ========================== */
.section2 {
  padding: 15px;
  /* width: 100%; */
  background-color: #f7bb60;
  margin-bottom: 30px;
}

.section2 p {
  color: black;
  font-size: 16px;
  line-height: 1.8em;
  text-transform: uppercase;
  text-align: justify;
}

/* ================================================================= */

/* ============================================ Homepage ============================================  */
.homepage {
  width: 100%;
  line-height: 1.6em;
}

/* ============================ Section 3 ========================== */
.homepage h1 {
  color: #fc813b;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
  text-transform: uppercase;
}

.section3 {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  column-gap: 10px;
}

.section3 .article {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  column-gap: 10px;
}

.section3 .article img {
  height: 32px;
  width: 32px;
}

.section3 .article strong {
  font-size: 14px;
  font-weight: bold;
  color: solid black;
}

.section3 .article p {
  color: black;
  padding-top: 5px;
  grid-area: 2/1/2/3;
}

.readmore {
  grid-area: 3/1/3/3;
  color: black;
  padding-top: 5px;
  text-align: right;
}

.readmore a {
  color: #ff9900;
}

/* ============================ Section 4 ========================== */
.section4 {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  column-gap: 15px;
}

.section4 article figure {
  display: grid;
  place-content: center;
  padding: 4px 2px;
  border: 1px solid #d6d6d6;
}

.section4 article figure img {
  width: 215px;
  height: 315px;
}

.section4 article figcaption {
  padding: 5px;
  text-align: center;
  color: #fc813b;
  background-color: #eeeeee;
  text-transform: uppercase;
}

/* ================================================================= */

/* ============================================ Footer ============================================  */
.row3 {
  background-color: #232323;
  color:#979797;  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 960px));
  place-content: center;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

footer p {
  font-size: 13px;
  padding: 20px 0;
}

/* ============================================ Media queries ============================================  */

/* ============================================ mobile ============================================  */
@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin-right: 0;
  }

  .row1 {
    display: block;
  }

  header {
    display: block;
    width: 100%;
    text-align: center;
  }

  header nav {
    padding: 0;
  }

  header nav ul {
    display: block;
    padding: 0;
  }

  header nav ul li {
    border: 3px solid white;
    margin: 10px;
    padding: 10px;
  }

  header nav ul li {
    font-weight: bold;
  }

  header #title {
    margin-bottom: 10px;
  }

  header form {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    display: block;
  }

  .container {
    display:block;
    width: 100%;
    padding: 30px 10px;
  }

  .section1 img {
    width: 100%;
    height: auto;
  }
  .section2 p {
    font-size: 0.8em;
  }

  .section3 {
    width: 100%;
    grid-template-columns: auto;
  }
  /* .section4 {
    grid-template-columns: auto;
  } */
  .row3 {
    display: block;
  }

  footer {
    grid-template-columns: auto;
    place-content: center;
    place-items: center;
  }
}

/* ============================================ Tablet ============================================  */
@media only screen and (min-width:601px) and (max-width:768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin-right: 0;
  }

  header {
    width: 100%;
    grid-template-columns: auto;
    text-align: center;
  }

  header form {
    grid-area: 2/1;
    margin: 0;
    place-content: center;
  }

  header nav {
    grid-area: 3/1;
  }

  header nav ul {
    padding: 0;
  }

  header nav ul li {
    font-weight: bold;
  }

  .container {
    width: 100%;
    display:block;
    padding: 30px 30px;
  }

  .section1 img {
    height: auto;
  }

  .section2 {
    width: 100%;
    grid-template-columns: auto;
  }

  .section2 p {
    font-size: 1em;
  }

  .section3 {
    grid-template-columns: auto;
  }

  .section3 .article {
    width: 100%;
  }

  .section4 {
    grid-template-columns: auto auto;
    grid-gap:10px;
  }
/* 
  .section4 article {
    width: 100%;
    
  }  */

  footer {
    width: 100%;
    padding: 0 30px;
  }
}
