*{
    margin:0;
    padding:0;
}
body{
    margin:0; 
    padding:0;
    font-size:13px;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#919191; 
    background-color:#232323;
    }
div.wrapper{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    text-align:left;
}
.row1, .row1 a{
    color:#C0BAB6;
    background-color:#333333;
}
.row2{
    color:#979797; 
    background-color:#FFFFFF;
}
.row2 a{
    color:#FF9900;
    background-color:#FFFFFF;
}
.row3, .row3 a{
    color:#919191; 
    background-color:#232323;
}
#header, #container, #footer{
    display:block;
    width:960px;
    margin:0 auto;
}

nav ul{
    margin:0;
    padding:0; 
    list-style:none;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
    padding:0; 
    font-size:16px; 
    font-weight:bold; 
    font-style:normal; 
    line-height:normal; 
    text-transform:uppercase;
}

address{
    font-style:normal;
}
form, fieldset, legend{
    margin:0; 
    padding:0; 
    border:none;
}
legend{
    display:none;
}
input, textarea, select{
    font-size:12px; 
    font-family:Georgia,"Times New Roman",Times,serif;
}

.one_quarter, .two_quarter, .three_quarter, .four_quarter{
    display:block; 
    float:left; 
    margin:0 20px 0 0;
}
.one_quarter{
    width:225px;
}
.two_quarter{
    width:470px;
}
.three_quarter{
    width:715px;
}
.four_quarter{
    width:960px; 
    float:none; 
    margin-right:0; 
    clear:both;
}
.lastbox{
    margin-right:0;
}
#header{
    padding:20px 0;
}

#header #hgroup{
    float:left; 
    margin:0 0 20px 0;
}
#header #hgroup h1, #header #hgroup h2{
    font-weight:normal; 
    text-transform:none;
}
#header #hgroup h1{
    font-size:36px;
}
#header #hgroup h2{
    font-size:13px;
}

#header nav{
    display:block; 
    float:right; 
    margin:10px 0 0 0; 
    padding:20px 0; 
    color:#C0BAB6; 
    background-color:#232323;
}
#header nav ul{
    padding:0 20px;
}
#header nav li{
    display:inline; 
    margin-right:25px; 
    text-transform:uppercase;
}
#header nav li.last{
    margin-right:0;
}
#header nav li a{
    color:#C0BAB6; 
    background-color:#232323;
}
#header nav li a:hover{
    color:#FF9900;
     background-color:#232323;
    }
#container{
    padding:30px 0;
}
#container section{
    display:block; 
    width:100%; 
    margin:0 0 30px 0;
     padding:0;
    }
#container .last{
    margin:0;
}
#container .more{
    text-align:right;
}
#container #shout{
    padding:0 0 20px 0; 
    border-bottom:1px solid #DEDEDE; 
    text-align:center;
}
#container #shout p{
    font-size:20px; 
    margin:0; 
    padding:0; 
    line-height:1.8em;
}
#container #homepage{
    display:block; 
    width:100%; 
    line-height:1.6em;
}
#container #homepage .spacer{
    display:block; 
    width:100%; 
    height:30px; 
    margin:0; 
    padding:0; 
    clear:both;
}
#container #homepage #latest{
    margin-bottom:50px;
}
#container #homepage #latest article figure ul{
    margin:0; 
    padding:0; 
    list-style:none;
}
#container #homepage #latest article figure ul li{
    margin-bottom:20px;
}
#container #homepage #latest article figure ul li img{
    padding:4px; 
    border:1px solid #D6D6D6; 
    text-align:center;
}
#container #homepage #latest article figure figcaption{
    display:block; 
    width:100%; 
    clear:both; 
    padding:0 0 20px 0; 
    border-bottom:1px solid #DEDEDE; 
    font-weight:bold; 
    text-transform:uppercase; 
    text-align:right;
}

#container #homepage #services figure{
    display:inline; 
    float:left;
}
#container #homepage #services strong{
    float:left; 
    margin:8px 0 0 10px; 
    padding:0; 
    font-size:14px; 
    font-weight:bold; 
    text-transform:uppercase;
}
#container #homepage #services p{
    display:block; 
    margin:0; 
    padding:5px 0 0 0; 
    clear:both; 
    line-height:1.6em;
}
.clear:after{
    content:".";
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden; 
    line-height:0;
}
a{
    outline:none; 
    text-decoration:none;
}
.fl_left{
    float:left;
}
.fl_right{
    float:right;
}
#footer{
    padding:20px 0;
}
#footer p{
    margin:0; 
    padding:0;
}
* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
  }
  
  .boxs {
    background-color: #f1f1f1;
    padding: 10px;
    margin:10px;
    flex: 50%;
  }
  
  
 
  @media (max-width: 768px) {
    
    .flex-container{
        background: rgb(43, 205, 226);
        padding: 10px;
        display:flex;
        flex-direction:column ;
        width:100%;
    }
    .boxs{
        background-color: rgb(151, 42, 165);
        margin: 10px;;
        padding: 20px;
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #header {
    width: 100%;
    background-color: #08bed6;
  }
   #header nav {
    width: 100%;
  }
  #header nav ul li {
    display: block;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid white;
  }
  #container {
    width: 100%;
  }
  #container #slider figure img {
    width: 100%;
  }
  #container #slider figure figcaption {
      width: 100%;
    }
    #container #homepage #services article p {
        width:100%;
    }
    .one_third{
        width:100%;
    }
    #container #homepage #latest article figure img {
        width:100%;
    }
    .one_quarter{
        width:100%;
    }
  #container #homepage #services .one_quarter {
    width: 100%;
    font-size: 16px;
  }
  #container #homepage .three_quarter {
    width: 100%;
  }
  #footer {
    width: 100%;
  }
  #header nav li{
      margin-right: 0px;
    }
}

