<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template1</title>
    <link rel="stylesheet" href="./Basic88.css" type="text/css">
    <script src="basic88.js"></script>

</head>

<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1>
                    <a href="#">Basic 88</a>
                </h1>
                <h2>Free HTML5 Website Template</h2>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Tex  Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a> 
                    </li>
                    <li class="last">
                        <a href="#">Text Link</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <section id="slider">
                <a href="#">
                    <img src="../Template/template_images/960x360.gif" alt="">
                </a>
            </section>
            <div id="homepage">
                <section id="services" class="clear">
                    <article class="one_third">
                        <figure>
                            <img src="../Template/template_images/290x180.gif" alt="" width="290" height="180">
                            <figcaption>
                                <h2>Indonectetus facilis</h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                                <footer class="more">
                                    <a href="#">Read More>></a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="one_third">
                        <figure>
                            <img src="../Template/template_images/290x180.gif" alt="" width="290" height="180">
                            <figcaption>
                                <h2>Indonectetus facilis</h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                                <footer class="more">
                                    <a href="#">Read More>></a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="one_third lastbox">
                        <figure>
                            <img src="../Template/template_images/290x180.gif" alt="" width="290" height="180">
                            <figcaption>
                                <h2>Indonectetus facilis</h2>
                                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                                <footer class="more">
                                    <a href="#">Read More>></a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </section>
                <section id="intro" class="last clear">
                    <article>
                        <figure>
                            <img src="../Template/template_images/450x250.gif" alt="" width="450" height="250">
                            <figcaption>
                                <h2>Indonectetus facilis leo nibh</h2>
                                <p>This is a W3C compliant free website template from<a href="https://www.os-templates.com/" title="Free Website Template">OS Template</a>. For full terms of use of this template please read our<a href="https;//www.os-templates.com/template-terms">website template licence</a>.</p>
                                <p>You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more HTML5 templates visit<a href="https://www.os-templates.com/ ">free website templates</a>.</p>
                                <footer class="more">
                                    <a href="#">Read More>></a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <div class="wrapper row3">
        <div id="footer" class="clear">
            <section class="one_quarter">
                <h2 class="title">Link Block</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Amet consectetur</a>
                        </li>
                        <li>
                            <a href="#">Praesent vel sem id</a>
                        </li>
                        <li>
                            <a href="#">Curabitur hendrerit est</a>
                        </li>
                        <li class="last">
                            <a href="#">Sed a nulla urna</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="one_quarter">
                <h2 class="title">Link Block</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Amet consectetur</a>
                        </li>
                        <li>
                            <a href="#">Praesent vel sem id</a>
                        </li>
                        <li>
                            <a href="#">Curabitur hendrerit est</a>
                        </li>
                        <li class="last">
                            <a href="#">Sed a nulla urna</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="one_quarter">
                <h2 class="title">Link Block</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Amet consectetur</a>
                        </li>
                        <li>
                            <a href="#">Praesent vel sem id</a>
                        </li>
                        <li>
                            <a href="#">Curabitur hendrerit est</a>
                        </li>
                        <li class="last">
                            <a href="#">Sed a nulla urna</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="one_quarter lastbox">
                <h2 class="title">Link Block</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Lorem ipsum dolor sit</a>
                        </li>
                        <li>
                            <a href="#">Amet consectetur</a>
                         </li>
                        <li>
                            <a href="#">Praesent vel sem id</a>
                        </li>
                        <li>
                            <a href="#">Curabitur hendrerit est</a>
                        </li>
                        <li class="last">
                            <a href="#">Sed a nulla urna</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
    <div class="wrapper row4">
        <footer id="copyright" class="clear">
            <p class="f1_left">
                Copyright © 2018 - All Rights Reserved -
                <a href="#">Domain Name</a>
            </p>
            <p class="f1_right">
                Template by
                <a href="https://www.os-templates.com/" target="_blank" title="Free Website Templates"> Os Templates</a>
            </p>
        </footer>
    </div>
</body>

</html>