<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templayte2_Basic87</title>
    <link rel="stylesheet" href="./Template1.css" type="text/css">
</head>
<body>
    <div class="wrapper row1 ">
        <header id="header">
        <div id="hgroup">
            <h1>
                <a href="#">Basic 87</a>
            </h1>
            <h2>
                <a href="#">Free HTML5 website link</a>
            </h2>
        </div>
        <nav>
            <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
                <li>item4</li>
                <li class="last">item5</li>
            </ul>
        </nav>
    </header>
    </div>
    <div class="wrapper row2 ">
        <div id="container" class="clear">
            <div id="homepage">
                <section id="latest" class="clear">
                    <article class="one_quarter">
                        <figure>
                            <img src="../Templates/215x315.gif" alt="" width="215" height="315">
                            <figcaption>Image Caption Here</figcaption>
                        </figure>
                    </article>
                    <article class="one_quarter">
                        <figure>
                            <img src="../Templates/215x315.gif" alt="" width="215" height="315">
                            <figcaption>Image Caption Here</figcaption>
                        </figure>
                    </article>
                    <article class="one_quarter">
                        <figure>
                            <img src="../Templates/215x315.gif" alt="" width="215" height="315">
                            <figcaption>Image Caption Here</figcaption>
                        </figure>
                    </article>
                    <article class="one_quarter lastbox">
                        <figure>
                            <img src="../Templates/215x315.gif" alt="" width="215" height="315">
                            <figcaption>Image Caption Here</figcaption>
                        </figure>
                    </article>
                </section>   
                <section id="shout">
                    <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla laoremut vitae doloreet condimentumst.</p>
                </section>
            </div>
        </div> 
    </div> 
    <div class="wrapper row3 "></div>
</body>
</html>
