!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #parent {
        width: 500px;
        background: grey;
        margin: 0 auto;
        text-align: center;
        height: 200px;
        border: 1px solid grey;
        position: absolute;
        z-index: 1;
      }
      #child {
        width: 300px;
        background: lightgreen;
        height: 150px;
        margin: 20px auto;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="parent">
      <div id="child">
        <h2>Hello World From Z Index Topic</h2>
      </div>
    </div>
    <div id="second" style="background: red;">
        <h2>I am from Second Element</h2>
    </div>
  </body>
</html>
