<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <button onmouseover="clickMe()">clickMe</button>
    <button ondblclick="doubleClick()">clickMe</button>
    <button onmouseout="mouseOut()">clickMe</button>
    <script>
function clickMe(){
    alert("This is New Page")
}
function doubleClick(){
    alert("This is New Page")
}
    function mouseOut(){
    alert("This is New Page")
    }
    </script>
</body>
</html>