
    
      <!-- / services area -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- One Quarter -->
      <h1>Latest From The Gallery</h1>
      <section id="latest" class="last clear">
        <article class="one_quarter">
          <figure><img src="images/demo/215x315.gif" width="215" height="315" alt="">
            <figcaption>Image Caption Here</figcaption>
          </figure>
        </article>
        <article class="one_quarter">
          <figure><img src="images/demo/215x315.gif" width="215" height="315" alt="">
            <figcaption>Image Caption Here</figcaption>
          </figure>
        </article>
        <article class="one_quarter">
          <figure><img src="images/demo/215x315.gif" width="215" height="315" alt="">
            <figcaption>Image Caption Here</figcaption>
          </figure>
        </article>
        <article class="one_quarter lastbox">
          <figure><img src="images/demo/215x315.gif" width="215" height="315" alt="">
            <figcaption>Image Caption Here</figcaption>
          </figure>
        </article>
      </section>
      <!-- / One Quarter -->
    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>