body{
    background-image: url("./img2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
h1{
color: blueviolet;
}
h2{
    color:brown;
}
h3{
    color:darkorchid;
}
h4{
    color:darksalmon;
    background-color: lightblue;
}
img{
    height: 40%;
    width: 30%;
}
p{ 
       color: red;
       size: 15px;
}