.App {
  text-align: center;
}
.act{
  background-color:grey !important;
  color:white !important;
}
.act:focus{
  background-color:blue !important;
  color:white;
}
.act:hover{
  background-color:burlywood !important;
  color:black !important;
}