

#nav{
    float: right;
    background-color: rgb(41, 39, 39);
    margin:30px 180px 0px 0px; 
    padding:8px 40px 8px 20px;
}
#nav ul{
    list-style-type: none;
}
#nav ul li{
    display: inline;
    float: left;
    margin-right: 20px;
    padding: 8px;
}
#nav ul li a{
    color:orange;
    cursor: pointer;
    text-decoration: none;
}
#block2{
    margin:20px 40px 20px 180px;
}


#row5{
    margin-top:20px;
    background-color: black;
    width: 100%;
    padding:20px;
    overflow: auto;
}
#row5 a{
    color:orange;
    cursor: pointer;
}

