<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="clickMe()" >ClickMe</button> <br><br>
    <button ondblclick="dblClick()">Double click</button><br><br>
    <button onmouseover="mouseOver()">Mouse Over</button><br><br>
    <button onmousedown="mouseOut()">Mouse Out</button><br><br>
    <label for="text">Name</label>
    <input type="text" name="" id="" onfocus="justFocused()" onblur="justBlured()"> <br><br>
    <label for="number">Education</label>
    <select name="" id="" onchange="OptChangeEvent()">
        <option value="opt1">B.tech</option>
        <option value="opt1">Inter</option>
        <option value="opt1">SSC</option>
        <option value="opt1">Other</option>
    </select>

    <script>
        function clickMe(){
            alert("hello,u clicked me")
        }
        function dblClick(){
            console.log("hello, doubleclick on me")
        }
        function mouseOver(){
            console.log("hello,u mouse over on me")
        }
        function mouseOut(){
            console.log("hello,u mouse out on me")
        }
        function justFocus(){
            console.log("You Entered a text")
        }
        function justBlured(){
            console.log("u blurred on me")
        }
        
    </script>
</body>
</html>