<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="clickMe()" >ClickMe</button>
    <button ondblclick="dblClick()">Double click</button>
    <button onmouseover="mouseOver()">Mouse Over</button>
    <button onmousedown="mouseOut()">Mouse Out</button>


    <script>
        function clickMe(){
            alert("hello,u clicked me")
        }
        function dblClick(){
            alert("hello, doubleclick on me")
        }
        function mouseOver(){
            alert("hello,u mouse over on me")
        }
        function mouseOut(){
            alert("hello,u mouse out on me")
        }
        
    </script>
</body>
</html>