<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
    <style>
        #bg{
            background: url(./images/bg4.jpg);
            padding:15px;
            background-repeat: no-repeat;
            width: 400px;
        }
        #head{
            color:green;
            font-style: italic;
            font-weight: bold;
        }
        
    </style>
</head>
<body>
    <div id="head">
        <h1>Image Background</h1>
    </div>
    <div id="bg">
        <h1>Nature</h1>
        <p>We are a global publisher dedicated to providing the best possible service to the whole research community. We help authors to share their discoveries; ...</p>
        <p>Protecting Nature with Authentic Partnerships · Our Mission · Solving Climate Change with Nature · Partnering with Indigenous Peoples and Local Communities</p>
    </div>
    
</body>
</html>