* {
    padding: 0;
    margin: 0;
  }
  body {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .row1 {
    background-color: #333333;
  }
  header {
    width: 960px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px 0;
  }
  header #hgroup {
    display: grid;
    grid-template-rows: auto auto;
  }
  header #hgroup h1 {
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    line-height: normal;
  }
  header #hgroup h2 {
    font-size: 13px;
    color: #c0bab6;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    line-height: normal;
  }
  a {
    color: #c0bab6;
    background-color: #333333;
    text-decoration: none;
  }
  header #form1 {
    display: grid;
    grid-column: 1 / 6;
    justify-content: end;
    padding-right: 50px;
    margin: 20px 0;
  }
  #header form{
    text-align: end;
    padding: 20px;
  }
  #header form input{
         margin:0; padding:5px;
        color:#C0BAB6;
         background-color:#232323;
          border:1px solid #666666;}
        #header form #sf_submit{
            width: 70px;
            font-weight: bold;
            text-transform: uppercase;
            color: black;
            background-color:orange;
            border: none;
            cursor: pointer;
        }
  header #form1 #box {
    width: 200px;
    margin: 0;
    padding: 5px;
  
    color: #c0bab6;
    background-color: #232323;
    border: 1px solid #666666;
  }
  header #form1 #sf_submit {
    width: 70px;
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ff9900;
    border: none;
    cursor: pointer;
  }
  fieldset {
    border: none;
  }
  header nav {
     padding: 20px 0;
    margin: 0;
    color: #c0bab6;
    background-color: #232323;
    clear: both;
    border-radius: 30px;
   }
  header nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    padding: 0 20px;
  }
  header nav ul li {
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 25px;
  }
  header nav ul li a {
    background-color: #232323;
  }
  header nav ul li a:hover {
    font-size: 20px;
    color: #ff9900;
  }
  .row2 {
    color: #979797;
    background-color: #ffffff;
  }
  #container {
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: auto;
  }
  .clear {
    clear: both;
  }
  #container section {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
  }
  .row2 a {
    color: #ff9900;
    background-color: #ffffff;
  }
  img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
  }
  #container #shout {
    width: 930px;
    padding: 15px;
    font-size: 16px;
    line-height: 1cm;
    color: #979797;
    background-color: #eeeeee;
    text-transform: uppercase;
    text-align: justify;
  }
  #container #homepage {
    width: 100%;
    line-height: 1cm;
  }
  #container #homepage h1 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
  }
  #container #homepage #services {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  #container #homepage #services article {
    width: 300px;
    margin: 0 30px 0 0;
    padding: 0;
  }
  #container #homepage #services figure {
    padding: 0;
    margin: 0;
  }
  #container #homepage #services strong {
    margin: 8px 0 0 10px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  #container #homepage #services p {
    margin: 0;
    padding: 5px 0 0 0;
    clear: both;
    line-height: 0.5cm;
  }
  #container .more {
    text-align: right;
  }
  #container #homepage #services .last {
    margin-right: 0;
  }
  #container .last {
    margin: 0;
  }
  #container #homepage #latest {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .one_quarter {
    width: 225px;
    margin: 0 20px 0 0;
    text-align: justify;
  }
  #container #homepage #latest figure {
    padding: 4px;
    border: 1px solid #d6d6d6;
    text-align: center;
    margin: 0;
  }
  #container #homepage #latest figcaption {
    padding: 4px;
    text-align: center;
    color: #979797;
    background-color: #eeeeee;
    text-transform: uppercase;
    margin: 0;
  }
  .lastbox {
    margin-right: 0;
  }
  .row3 {
    color: #919191;
    background-color: #232323;
    overflow: auto;
  }
  .clear {
    clear: both;
  }
  #footer {
    padding: 20px 0;
    width: 960px;
    height: 18px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
  #footer p {
    margin: 0;
    padding: 0 0 20px 0;
  }
  .row3 a {
    color: #919191;
  }
  @media only screen and (min-width: 0px) and (max-width: 450px) {
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    header {
      width: 100%;
    }
    header nav {
      width: 100%;
    }
    header nav ul {
      width: 100%;
    }
    header nav ul li {
      width: 100%;
      display: grid;
      grid-template-rows: auto auto auto auto auto;
      grid-column: 1 / 6;
      padding: 10px;
    }
    header nav ul li a {
      padding: 10px;
      background-color: red;
      border-bottom: 1px solid white;
    }
    header form {
      width: 100%;
    }
    header #form1 form fieldset {
      width: 100%;
    }
    header #form1 fieldset #box,
    .sf_submit {
      width: 100%;
    }
    header #form1 fieldset .sf_submit {
      width: 10%;
    }
    #container {
      width: 100%;
    }
    #container #slider img {
      width: 100%;
    }
    #container #shout {
      width: 100%;
      font-size: 10px;
    }
    #container #homepage {
      width: 100%;
    }
    #container #homepage #services {
      display: grid;
      grid-template-columns: none;
    }
    #container #homepage #services article {
      width: 100%;
    }
    .one_quarter {
      width: 100%;
    }
    #container #homepage #latest {
      display: grid;
      grid-template-columns: none;
    }
    #container #homepage #latest .one_quarter figure img {
      width: 100%;
    }
    #footer {
      width: 100%;
      display: grid;
      grid-template-columns: none;
    }
  }
  @media only screen and (min-width: 451px) and (max-width: 768px) {
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    header {
      width: 100%;
    }
    header nav {
      width: 100%;
    }
    header nav ul {
      width: 100%;
    }
    header nav ul li {
      width: 100%;
     padding: 10px;
    }
    header nav ul li a {
       background-color: red;
      border-bottom: 1px solid white;
    }
    header form {
      width: 100%;
    }
    header #form1 form fieldset {
      width: 100%;
    }
     #container {
      width: 100%;
    }
    #container #slider img {
      width: 100%;
    }
    #container #shout {
      width: 100%;
      font-size: 10px;
    }
    #container #homepage {
      width: 100%;
    }
  #container #homepage #services article {
      width: 100%;
    }
    .one_quarter {
      width: 100%;
   }  
     #container #homepage #latest .one_quarter figure img {
      width: 100%;
    }
    #footer {
      width: 100%;
     }
  }
  