body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  height:100px;
  width:auto;
  background-color: skyblue;
  margin: 0;
  border: 0;
}
ul{
  /* text-align: right; */
  text-decoration: none;
  
}
li{
  display: inline;
  padding:10px;
  /* color:brown;
  margin: 0;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-right: 19px; */
}
li:hover{
  color:white;
 
}
h1{
  display:inline;
  text-align: left;
}
