/*header h1 fort size:36px;*/
/*header h1 fort size:13px;*/
/* color: #C0BAB6; text color */
/* background-color: #333333; */
/* background-color: #232323; Link bg color*/
/* border: 1px solid #666666; */

/* ============================Common Elements========================== */
*{
    margin:0;
    padding:0;
}
body{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    color:#C0BAB6;
}
a{
    text-decoration:none;
    color:#C0BAB6;
}

.row1{
    background-color: #333333;
}
.wrapper{
    width:100%;
}
/* ============================================ Header  ============================================  */
header{
    width:960px;
    margin:0 auto;
    background-color:#333333;
    padding:20px 0;
}
/* ============================Title========================== */
.row1 header #title{
    float:left;
    margin-bottom:20px;
}
.row1 header #title h1{
    font-size:36px;
    font-weight:normal;
}
.row1 header #title h2{
    font-size:13px;
    font-weight:normal;
}
/* ============================Form========================== */
.row1 header form{
    float:right;
    width: 290px;
    margin:20px 0;
}
.row1 header form fieldset{
   border:none;
}
.row1 header form #searchbox{
    float:left;
    width: 200px;
    padding:5px;
    border: 1px solid #666666;
    font-size: 12px;
    background-color: #232323;
    font-size: 12px;
    color: white;
}
.row1 header form #searchbox textarea select{
    font-size: 12px;
    color: white;
}
.row1 header form #submit{
    float:right;
    width: 70px;
    font-size: 12px;
    font-weight:bold;
    background-color: #FF9900;
    color: #FFFFFF;
    border:none;
    cursor:pointer;
    padding:5px;
    
}
/* ============================Nav========================== */
nav{
    clear:both;
    background-color: #232323;
    overflow:auto;
    width:100%;
    padding:20px 0;
}
nav ul {
    list-style:none;
    padding:0 20px;
    overflow:auto;
}
nav ul li{
    float:left;
    margin-right:25px;
    text-transform: uppercase;
    width:auto;
    height:auto;
}
nav ul .last{
    margin-right:0;
}
/* ================================================================================================================= */

/* ============================================ Section ============================================  */

#container{
    width:960px;
    margin:0 auto;
    overflow:hidden;
    padding:30px 0;
}
/* ============================ Section 1 ========================== */
#container #section1{
    margin-bottom:30px;
}
#container #section1 img{
    width:960px;
    height:360px;
}
/* ============================ Section 2 ========================== */
#container #section2{
    padding:15px;
    width:930px;
    background-color: #EEEEEE;
    margin-bottom:30px;
}
#container #section2 p{
    color: #979797;
    font-size:16px;
    line-height: 1.8em;
    text-transform:uppercase;
    text-align:justify;

}
/* ================================================================= */

/* ============================================ Homepage ============================================  */
#homepage{
    width:100%;
    line-height:1.6em;
}
/* ============================ Section 3 ========================== */
#homepage h1{
    color: #979797;
    font-size:16px;
    font-weight:bold;
    margin-bottom:25px;
    padding-bottom:10px;
    border-bottom: 1px solid #D6D6D6;
    text-transform: uppercase;
}
#homepage #section3{
    margin-bottom:30px;
    overflow:auto;
}
#homepage #section3 .article{
    float:left;
    display:inline;
    width:300px;
    margin-right:30px;
}
#homepage #section3 #article3{
    margin-right:0;
}
#homepage #section3 .article img{
    float:left;
    height:32px;
    width:32px;
}
#homepage #section3 .article strong{
    float:left;
    margin:8px 0 0 10px;
    font-size:14px;
    font-weight:bold;
    color: #919191;
}
#homepage #section3 .article p{
    clear:both;
    color: #919191;
    padding-top:5px;
}
#homepage #section3 .article .readmore{
    clear:both;
    color: #919191;
    padding-top:5px;
    text-align:right;
}
#homepage #section3 .article .readmore a{
    color:#FF9900;
}

/* ============================ Section 4 ========================== */
#section4{
    margin-bottom:30px;
    overflow:auto;
}
#section4 article{
    float:left;
    margin-right:20px;
    width:225;

}
#section4 article figure{
    padding:4px 2px;
    border: 1px solid #D6D6D6;
}
#section4 article figure img{
    width:215px;
    height:315px;
}
#section4 article figcaption{
    padding:5px;
    text-align:center;
    color:#979797;
    background-color: #EEEEEE;
    text-transform:uppercase;
}
#section4 #article4{
    margin-right:0;
}
/* ================================================================= */

/* ============================================ Footer ============================================  */
.row3{
    background-color: #232323;
}
#main_footer{
    width:960px;
    margin:0 auto;
    overflow:auto;
}
#main_footer p{
    font-size:13px;
}
#main_footer #left_footer{
    float:left;
    padding:20px 0;
}
#main_footer #right_footer{
    float:right;
    padding:20px 0;
}