<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #parent{
            width:500px;
            height:200px;
            border:2px blue;
            text-align: center;
            background-color: blueviolet;
            margin:auto;
        }
        div #child{
            width:300px;
            height:150px;            
            text-align: center;
            background-color: forestgreen;
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div id="parent">
        <div id="child">
            <h1 text-align="center" >Cascading Style Sheets</h1>
        </div>
    </div>
    <div id="second">
        <h2>second element</h2>
    </div>
    
</body>
</html>