<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templayte2_Basic87</title>
    <link rel="stylesheet" href="./Template5.css" type="text/css">
</head>

<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <!-- <h1>
                    <a href="#">Basic 87</a>
                </h1>
                <h2>Free HTML5 Website Template</h2> -->
            </div>
            <nav>
                <ul id="ul_dom">
                    <!-- <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li class="last">
                        <a href="#">Text Link</a>
                    </li> -->
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <div id="homepage">
                <section id="latest" class="clear">
                    <article class="one_quarter">
                        <figure class="myImage">
                            <!-- <img src="../template_images/215x315.gif" alt="" width="215" height="315"> -->
                            <!-- <figcaption>Image Caption Here</figcaption> -->
                        </figure>
                    </article>
                    <article class="one_quarter">
                        <figure class="myImage">
                            <!-- <img src="../Template/template_images/215x315.gif" alt="" width="215" height="315"> -->
                            <!-- <figcaption>Image Caption Here</figcaption> -->
                        </figure>
                    </article>
                    <article class="one_quarter">
                        <figure class="myImage">
                            <!-- <img src="../Template/template_images/215x315.gif" alt="" width="215" height="315"> -->
                            <!-- <figcaption>Image Caption Here</figcaption> -->
                        </figure>
                    </article>
                    <article class="one_quarter lastbox">
                        <figure class="myImage">
                            <!-- <img src="../Template/template_images/215x315.gif" alt="" width="215" height="315"> -->
                            <!-- <figcaption>Image Caption Here</figcaption> -->
                        </figure>
                    </article>
                </section>
                <section class="shout" id="one">
                    <!-- <p>
                        Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed.
                        Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna
                        urnaretra lor urna neque sed quis orci nulla laoremut vitae doloreet condimentumst.
                    </p> -->
                </section>
            </div>
            <div id="content">
                <section id="services" class="last clear">
                    <ul>
                        <li>
                            <article class="clear">
                                <figure class="fig2">
                                    <!-- <img src="../Template/template_images/180x150.gif" alt=""> -->
                                    <!-- <figcaption>
                                        <h2>Indonectetus facilis leo nibh</h2>
                                        <p>
                                            This is a W3C compliant free website template from
                                            <a href="https://www.os-templates.com/" title="Free Website Templates">Os
                                                Templates</a>. For full terms of use of this template please read our<a
                                                href="https://www.os-templates.com/templates-terms">website template
                                                licence</a>.
                                        </p>
                                        <footer class="more">
                                            <a href="#">Read More>></a>
                                        </footer>
                                    </figcaption> -->
                                </figure>
                            </article>
                        </li>
                        <li class="last">
                            <article class="clear">
                                <figure class="fig2">
                                    <!-- <img src="../Template/template_images/180x150.gif" alt=""> -->
                                    <!-- <figcaption>
                                        <h2>Indonectetus facilis leo nibh</h2>
                                        <p>
                                            This is a W3C compliant free website template from
                                            <a href="https://www.os-templates.com/" title="Free Website Templates">Os
                                                Templates</a>. For full terms of use of this template please read our<a
                                                href="https://www.os-templates.com/templates-terms">website template
                                                licence</a>.
                                        </p>
                                        <footer class="more">
                                            <a href="#">Read More>></a>
                                        </footer>
                                    </figcaption> -->
                                </figure>
                            </article>
                        </li>
                    </ul>
                </section>
            </div>
            <aside id="right_column">
                <!-- <h2 class="title">Categories</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="#">Free WebSite Templates</a>
                        </li>
                        <li>
                            <a href="#">Free CSS Templates</a>
                        </li>
                        <li>
                            <a href="#">Free XHTML Templates</a>
                        </li>
                        <li>
                            <a href="#">Free Web Templates</a>
                        </li>
                        <li>
                            <a href="#">Free WebSite Layouts</a>
                        </li>
                        <li>
                            <a href="#">Free HTML5 Templates</a>
                        </li>
                        <li>
                            <a href="#">Free Webdesign Templates</a>
                        </li>
                        <li>
                            <a href="#">Free Fire Works Templates</a>
                        </li>
                        <li>
                            <a href="#">Free PNG Templates</a>
                        </li>
                        <li class="last">
                            <a href="#">Free WebSite Themes</a>
                        </li>
                    </ul>
                </nav> -->
            </aside>
        </div>
    </div>
    <div class="wrapper row3">
        <footer id="footer" class="clear">
            <!-- <p class="f1_left">
                Copyright © 2018 - All Rights Reserved -
                <a href="#">Domain Name</a>
            </p>
            <p class="f1_right">
                Template by
                <a href="https://www.os-templates.com/" target="_blank" title="Free Website Templates"> Os Templates</a>
            </p> -->
        </footer>
    </div>
    <script src="./Template5.js "></script>
</body>

</html>