<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templayte2_Basic87</title>
    <link rel="stylesheet" href="./Template2.css" type="text/css">
</head>

<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1>
                    <a href="#">Basic 87</a>
                </h1>
                <h2>Free HTML5 Website Template</h2>
            </div>
            <nav>
                <ul id="ul_dom">
                    <li>
                        <a href="./Template2.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li class="last">
                        <a href="#">Text Link</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="container" class="clear" style="height: 500px;">
            <table border="1" style="width: 100%">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Tel</th>
                        <th>Address</th>
                        <th>City Name</th>
                        <th>sate</th>
                        <th>Zip</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="wrapper row3">
        <footer id="footer" class="clear">
            <p class="f1_left">
                Copyright © 2018 - All Rights Reserved -
                <a href="#">Domain Name</a>
            </p>
            <p class="f1_right">
                Template by
                <a href="https://www.os-templates.com/" target="_blank" title="Free Website Templates"> Os Templates</a>
            </p>
        </footer>
    </div>
    <script src="./tem2.js"></script>
</body>

</html>