<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>template3</title>
  <link rel="stylesheet" href="style.css" type="text/css">
 </head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">template3</a></h1>
      <h2>Free nature images</h2>
    </div>
    <nav>
      <ul>
        <li><a href="index.html">home</a></li>
        <li><a href="userdetails.html">userdetails</a></li>
        <li><a href="register.html">registration</a></li>
        <li><a href="crud.html">crud</a></li>
        <li class="last"><a href="#">Text Link</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="shout">
      <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla laoremut vitae doloreet condimentumst.</p>
    </section>
    <div id="homepage">
      <section id="latest">
        <article>
          <figure>
            <ul>
              <li class="one_quarter"><img src="images/215x150.gif" width="215" height="150" alt=""></li>
              <li class="one_quarter"><img src="images/215x150.gif" width="215" height="150" alt=""></li>
              <li class="one_quarter"><img src="images/215x150.gif" width="215" height="150" alt=""></li>
              <li class="one_quarter lastbox"><img src="images/215x150.gif" width="215" height="150" alt=""></li>
            </ul>
            <figcaption><a href="#">View All Our Recent Work Here &raquo;</a></figcaption>
          </figure>
        </article>
      </section>
     <section id="services" class="last clear">
        <article class="one_quarter">
          <figure><img src="images/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="images/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="images/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter lastbox">
          <figure><img src="images/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <div class="spacer"></div>
        <article class="one_quarter">
          <figure><img src="images/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="images/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter">
          <figure><img src="images/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
        <article class="one_quarter lastbox">
          <figure><img src="images/32x32.gif" width="32" height="32" alt=""></figure>
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><a href="#">Read More &raquo;</a></p>
        </article>
      </section>
    </div>
  </div>
</div>
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://unsplash.com/s/photos/natural" title="Free nature images">natureimages</a></p>
  </footer>
</div>
</body>
</html>
