#header{
    height: 20%;
    background-color: rgb(180, 180, 180);
    text-shadow: 10px 10px 10px black;
    border-radius: 15px;
    padding:20px;
    text-align: center;
    box-shadow: 10px 10px 10px;
}
#content{
    height: 40%;
    background-color: rgb(180, 180, 180);
    text-shadow: 10px 10px 10px black;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    box-shadow: 10px 10px 10px;
    border-radius: 20px 50px 20px 50px;
}
    #navbar ul{
        list-style-type: none;
    }
    #navbar ul li{
        border: 1px solid black;
        padding: 10px;
        width:200px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
    }
    #navbar ul li:hover{
        color:red;
        background-color: steelblue;
        font-size: 40px;
        text-shadow: 10px 10px 10px springgreen;
        box-shadow:10px 10px 20px steelblue;
    }
    #navbar ul li a{
        text-decoration: none;
        color: black;
        display: none;
        border-radius: 40px 12px 40px 12px;
    }
    #navbar ul li:hover .dropdowncontent{
        display: block;
    }
#footer{
    height: 20%;
    background-color: rgb(180, 180, 180);
    text-shadow: 10px 10px 10px black;
    box-shadow: 10px 10px 10px black;
    border-radius: 50px 0px 50px 0px;
}