*{
    padding: 0;
    margin: 0;
}
body {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
div.wrapper{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}
.row1{
    color: #C0BAB6;
    background-color: #333333;
    overflow: auto;
}
#header{
    display: block;
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}
.clear{
    clear: both;
}
#header #hgroup{
    float: left;
    margin: 0 0 40px 0;
}
#header #hgroup h1{
    font-size: 36px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    line-height: normal;
    background-color: #333333;
}
.row1 a{
    color: #C0BAB6;
    background-color: #333333;
}
a{
    outline: none;
    text-decoration: none;
}

#header #hgroup h2{
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    line-height: normal;

}
#header nav{
    display: block;
    float: right;
    margin: 10px 0 0 0 ;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
#header nav ul{
    padding: 0 20px;
    margin: 0;
    list-style: none;
}
#header nav ul li{
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav li a {
    color: #C0BAB6;
    background-color: #232323;
}
.row2{
    color: #979797;
    background-color: #FFFFFF;
    overflow: auto;
}
#container{
    padding: 30px 0;
    display: block;
    width: 960px;
    margin: 0 auto;
}
#container #shout{
    padding: 0 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #DEDEDE;
}
#container section{
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
}
#shout p{
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 0.8cm;
}
#container section{
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
}
#container #homepage #latest{
    margin-bottom: 50px;
}
article,figure{
    display: block;
    padding: 0;
    margin: 0;
}
#container #homepage #latest article figure ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#container #homepage #latest article figure ul li {
    margin-bottom: 20px;
}
.one_quarter{
    width: 225px;
    display: block;
    float: left;
    margin: 0 20px 0 0
}
.lastbox{
    margin-right: 0;
}
#container #homepage #latest article figure figcaption{
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    clear: both;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #DEDEDE;
}
.row2 a{
    color: #FF9900;
    background-color: #FFFFFF;
}
a{
    outline: none;
    text-decoration: none;
}
#container .last{
    margin: 0;
}
article{
    padding: 0;
}
.one_quarter{
    width: 225px;
    display: block;
    float: left;
    margin: 0 15px 0 0;
}
#container #homepage #services figure {
    float: left;
}
figure{
    margin: 0;
    padding: 0;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}
#container #homepage #services strong {
    float: left;
    margin: 8px 0 0 10px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#container #homepage #services p {
    display: block;
    margin: 0;
    padding: 5px 0 0 0;
    clear: both;
    line-height: 1.6em;
}
#container .more {
    text-align: right;
}
#container #homepage .spacer {
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    clear: both;
}
.row3{
    color: #919191;
    background-color: #232323;
}
.row3 a{
    color: #919191;
    background-color: #232323;
}
#footer{
    display: block;
    width: 960px;
    margin: 0 auto;
    height: 18px;
    padding: 20px 0;
}
#footer p {
    margin: 0;
    padding: 0  0 20px 0;
}
.f1_left{
    float: left;
}
.f1_right{
    float: right;
}