<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template_assignment1</title>
    <link rel="stylesheet" href="./template1.css" type=text/css>
</head>

<body>
    <div id="div1" class="row1">
        <div id="r1">
            <header id="head" class ="clear">
                <div id="h_div1">
                    <h1><a href="#">Basic 88</a></h1>
                    <h2>Free HTML5 Website Templat<e/h2>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="#">TEXT LINK</a>
                        </li>
                        <li>
                            <a href="#">TEXT LINK</a>
                        </li>
                        <li>
                            <a href="#">TEXT LINK</a>
                        </li>
                        <li>
                            <a href="#">TEXT LINK</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <div id="div2" class="r2">
        <div id="cont" class="clear">
            <section id="slider">
                <a href="#">
                    <img src="../Template/template_images/960x360.gif" alt="">
                </a>
            </section>
            <div id="home">
                <section class = "clear" id = "second">
                    <article class="one">
                        <figure>
                            <img src="../Template/template_images/290x180.gif" alt="" width="290" height="180">
                            <figcaption>
                                <h2 id = "nn">Indonectetus facilities</h2>
                                <p>
                                    Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.
                                </p>
                                <footer class = "more">
                                    <a href="#">Read More >></a>
                                </footer>
                            </figcaption>
                        </figure>
                    </article>
                    <article class="one">
                        <figure>
                            <img src="../Template/template_images/290x180.gif" alt="" width="290" height="180">
                        </figure>
                    </article>
                </section>
            </div>
        </div>
    </div>
</body>

</html>