<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templayte2_Basic87</title>
    <link rel="stylesheet" href="./Template2.css" type="text/css">
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1>
                    <a href="#">Basic 87</a>
                </h1>
                <h2>Free HTML5 Website Template</h2>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li id="last">
                        <a href="#">Text Link</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <div id="homepage">
                <section id="latest" class="clear">
                    <article class="one_quarter">
                        <figure>
                            <img src="../Template/template_images/215x315.gif" alt="" width="215" height="315">
                            <figcaption>Image Caption Here</figcaption>
                        </figure>
                    </article>
                    <article class="one_quarter">
                        <figure>
                            <img src="../Template/template_images/215x315.gif" alt="" width="215" height="315">
                            <figcaption>Image Caption Here</figcaption>
                        </figure>
                    </article>
                    <article class="one_quarter">
                        <figure>
                            <img src="../Template/template_images/215x315.gif" alt="" width="215" height="315">
                            <figcaption>Image Caption Here</figcaption>
                        </figure>
                    </article>
                    <article class="one_quarter lastbox">
                        <figure>
                            <img src="../Template/template_images/215x315.gif" alt="" width="215" height="315">
                            <figcaption>Image Caption Here</figcaption>
                        </figure>
                    </article>
                </section>
            </div>
        </div>
    </div>
</body>
</html>