<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template_85</title>
    <link rel="stylesheet" href="./template5.css" type="text/css">
</head>

<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <!-- <h1>
                    <a href="#">Basic 85</a>
                </h1>
                <h2>Free HTML5 Website Template</h2> -->
            </div>
            <nav>
                <ul id="ul_dom">
                    <!-- <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li>
                        <a href="#">Text Link</a>
                    </li>
                    <li class="last">
                        <a href="#">Text Link</a>
                    </li> -->
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrapper row2">
        <div id="container" class="clear">
            <section id="shout">
                <!-- <p>
                    Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede
                    estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna
                    neque sed quis orci nulla laoremut vitae doloreet condimentumst.
                </p> -->
            </section>
            <div id="homepage">
                <section id="latest">
                    <article>
                        <figure>
                            <ul id="one">
                                <li class="one_quarterr">
                                    <!-- <img src="../Template/template_images/85/215x150.gif" alt="" width="215"
                                        height="150"> -->
                                </li>
                                <li class="one_quarterr">
                                    <!-- <img src="../Template/template_images/85/215x150.gif" alt="" width="215"
                                        height="150"> -->
                                </li>
                                <li class="one_quarterr">
                                    <!-- <img src="../Template/template_images/85/215x150.gif" alt="" width="215"
                                        height="150"> -->
                                </li>
                                <li class="one_quarterr lastbox">
                                    <!-- <img src="../Template/template_images/85/215x150.gif" alt="" width="215"
                                        height="150"> -->
                                </li>
                            </ul>
                            <!-- <figcaption>
                                <a href="#">View All Our Recent Work Here>></a>
                            </figcaption> -->
                        </figure>
                    </article>
                </section>
                <section id="services" class="last clear">
                    <article class="one_quarter two">
                        <!-- <figure>
                            <img src="../Template/template_images/85/32x32.gif" alt="" width="32" height="32">
                        </figure>
                        <strong>Lorum ipsum dolor</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.
                        </p>
                        <p class="more">
                            <a href="#">Read More>></a>
                        </p> -->
                    </article>
                    <article class="one_quarter two">
                        <!-- <figure>
                            <img src="../Template/template_images/85/32x32.gif" alt="" width="32" height="32">
                        </figure>
                        <strong>Lorum ipsum dolor</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.
                        </p>
                        <p class="more">
                            <a href="#">Read More>></a>
                        </p> -->
                    </article>
                    <article class="one_quarter two">
                        <!-- <figure>
                            <img src="../Template/template_images/85/32x32.gif" alt="" width="32" height="32">
                        </figure>
                        <strong>Lorum ipsum dolor</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.
                        </p>
                        <p class="more">
                            <a href="#">Read More>></a>
                        </p> -->
                    </article>
                    <article class="one_quarter lastbox two">
                        <!-- <figure>
                            <img src="../Template/template_images/85/32x32.gif" alt="" width="32" height="32">
                        </figure>
                        <strong>Lorum ipsum dolor</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.
                        </p>
                        <p class="more">
                            <a href="#">Read More>></a>
                        </p> -->
                    </article>
                    <div class="spacer"></div>
                    <article class="one_quarter two">
                        <!-- <figure>
                            <img src="../Template/template_images/85/32x32.gif" alt="" width="32" height="32">
                        </figure>
                        <strong>Lorum ipsum dolor</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.
                        </p>
                        <p class="more">
                            <a href="#">Read More>></a>
                        </p> -->
                    </article>
                    <article class="one_quarter two">
                        <!-- <figure>
                            <img src="../Template/template_images/85/32x32.gif" alt="" width="32" height="32">
                        </figure>
                        <strong>Lorum ipsum dolor</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.
                        </p>
                        <p class="more">
                            <a href="#">Read More>></a>
                        </p> -->
                    </article>
                    <article class="one_quarter two">
                        <!-- <figure>
                            <img src="../Template/template_images/85/32x32.gif" alt="" width="32" height="32">
                        </figure>
                        <strong>Lorum ipsum dolor</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.
                        </p>
                        <p class="more">
                            <a href="#">Read More>></a>
                        </p> -->
                    </article>
                    <article class="one_quarter two lastbox">
                        <!-- <figure>
                            <img src="../Template/template_images/85/32x32.gif" alt="" width="32" height="32">
                        </figure>
                        <strong>Lorum ipsum dolor</strong>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla
                            massa ut nisi ullamcorper.
                        </p>
                        <p class="more">
                            <a href="#">Read More>></a>
                        </p> -->
                    </article>
                    <div class="spacer"></div>
                </section>
            </div>
        </div>
    </div>
    <div class="wrapper row3">
        <footer id="footer" class="clear">
            <!-- <p class="f1_left">
                Copyright © 2018 - All Rights Reserved -
                <a href="#">Domain Name</a>
            </p>
            <p class="f1_right">
                Template by
                <a href="https://www.os-template.com/" title="Free Website Templates" target="_blank">OS Template</a>
            </p> -->
        </footer>
    </div>
    <script src="./Template5.js"></script>
</body>

</html>