/* ===============
        Global
    =============== */
    *{
        margin:0;
        padding:0;
        /* border:1px solid red; */
    }
/*--------------------------- Elements --------------------------- */
body{
    color:#C0BAB6;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:13px;
}
h1{
    font-size:36px;
    font-weight:normal;
}
h2{
    font-weight:normal;
    font-size:13px;
}
a{
    text-decoration:none;
    outline:none;
}
ul li{
    list-style-type: none;
}

.wrapper{
    width:100%;
}
/*--------------------------- Header--------------------------- */
.row1{
    background-color: #333333;
    overflow:auto;
}
header{
    width:960px;
    margin:0 auto;
    padding:20px 0;
    overflow:hidden;
}
/*--------------- Title----------------- */
#title{
    float:left;
    margin:0 0 20px 0;   
}
#title a{
    color:#C0BAB6;   
}
/*--------------- Nav bar----------------- */
nav{
    float:right;
    margin:10px 0 0 0;
    padding:20px 0;
    color: #C0BAB6;
    background-color: #232323
}
nav ul{
    list-style-type: none;
    text-transform:uppercase;
    padding:0 20px;
}
nav ul li{
    display:inline;
    list-style-type: none;
    margin-right:25px;
}
.last{
    margin-right:0;
}
nav a{
    text-decoration:none;
    color:#C0BAB6;
}
/*==========================================Container==========================================*/
.container{
    width:960px;
    margin:0 auto;
    padding:30px 0;
    overflow:auto;
}
/*---------------Section 1 ----------------- */
.section1{
    padding: 0 0 20px 0;
    margin: 0 0 30px 0;
    border-bottom:1px solid #DEDEDE;
}
.section1 p{
    line-height:1.8em;
    font-size:20px;
    text-align:center;
    color: #979797;
} 
/*---------------Homepage ----------------- */
#homepage{
    width:100%;
    line-height:1.6em;  
    overflow:auto;  
}
/*---------------Section 2 ----------------- */
.section2{
    overflow:auto;
    margin-bottom:50px;
}
.section2 article figure ul li{
    float: left;
    margin:0 20px 20px 0;
    overflow:auto;

}
.section2 article figure ul #last{
    margin-right:0px;
}
.section2 article figure ul li img{
    padding: 4px;
    border: 1px solid #D6D6D6;
    text-align: center;
    vertical-align: middle;
    width:215px;
    height:150px;
}
.section2 article figcaption{
    clear:both;
    padding-bottom:20px;
    width:100%;
    font-weight: bold;
    text-transform: uppercase;  
    text-align:right;
    border-bottom: 1px solid #DEDEDE;
}
.section2 article figcaption a {
    color: #FF9900;
    background-color: #FFFFFF;
}
/*---------------Section 3 ----------------- */
.section3{
    overflow:auto;
    color: #979797
}
.section3 article{
    width:225px;
    margin-right:20px;
}
.section3 article figure img{
    float:left;
    height:32px;
    width:32px;
} 
.section3 article strong{
    float:left;
    margin:8px 0 0 10px;
    font-size:14px;
    font-weight:bold;
    text-transform: uppercase;
} 
.section3 article p{
    clear:both;
    padding-top:5px;    
} 
.section3 .last{
    margin-right:0px;
}
.section3 .article_row{
    float:left;
}
.section3 article .readmore{
    text-align:right;
}
.section3 article .readmore a{
    color: #FF9900;
    background-color: #FFFFFF;
}
/* ============================================= */
.spacer{
    clear:both;
    height:30px;
    width:100%;
}
/* ============================================= */

/* =====================Footer======================== */
.row3{
    background-color: #232323;
}
footer{
    clear:both;
    width:960px;
    margin:0 auto;
    overflow:auto;
}
footer p{
    font-size:13px;
}
#left_footer{
    float:left;
    padding:20px 0;
}
#right_footer{
    float:right;
    padding:20px 0;
}


/* ===================== Media Queries ======================= */

/* mobile devices */
@media only screen and (max-width: 600px) {
    *{
      box-sizing: border-box;
    }
  
    [class*="col-"] {
      width: 100%;
    }
  
    header {
      padding: 20px 0 0 0;
    }
    #title {
      float: none;
      text-align: center;
    }
    nav {
        float:none;
      padding: 0;
    }
    nav ul {
      padding: 10px 20px 0 20px;
      background: transparent;
    }
    nav ul li {
      display: block;
      text-align: center;
      text-transform: uppercase;
      background-color:thistle ;
      /* border: 1px solid white; */
      padding: 5px 0px;
      margin: 0 0 8px 0;
    }
    nav ul li a {
      color: black;
      font-weight: bold;
    }
  
    .container{
      padding-left:15px;
      padding-right:15px;
        
    }  
    .section1 p{
        line-height:1.5em;
        font-size:13px;
    } 
    .section2 article figure ul{
        text-align:center;
    }
    .section2 article figure ul li{
        float: none;
    }
    .section2 article figcaption{
        text-align:center;
    }
    .section3 .article_row{
        float:none;
        width:100%;
    }
    footer{
        padding:20px;
        text-align:center;
    }
    #left_footer,
    #right_footer {
      float: none;
      width: 100%;
      padding:10px 0;
    }
  }
  
  /* Tablet */
  @media only screen and (min-width: 601px) and (max-width: 960px){
     *{
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
    }
    .col-1 {
      width: 8.33%;
    }
    .col-2 {
      width: 16.66%;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33.33%;
    }
    .col-5 {
      width: 41.66%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33%;
    }
    .col-8 {
      width: 66.66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33%;
    }
    .col-11 {
      width: 91.66%;
    }
    .col-12 {
      width: 100%;
    }
  
    header {
      padding: 20px;
    }
    .container{
        padding-left:20px;
        padding-right:20px;
    }
    .section1 p{
        font-size: 16px;
    }
    .section2 article figure ul{
        text-align:center;
    }
    .section2 article figure ul li{
        width:50%;
        margin:0 0 30px 0;
    }
    .section2 article figcaption{
        text-align:center;
    }
    .section3 .article_row{
        width:45%;
        margin-right:35px;
        padding:10px 20px;
    }
    .section3 .last{
        margin-right:30px;
        padding:10px 10px;
    }
    .section3 .spacer{
        height:0px;
    }
    footer{
        padding:0 20px;
    }
    #left_footer,
    #right_footer {
      padding:20px 5px;
    }
  }
  