<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>template5</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<div class="wrapper row1">
    <header id="header" class="clear">
      <div id="hgroup">
        <h1><a href="#">template5</a></h1>
        <h2>nature images</h2>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">home</a></li>
          <li><a href="userdetails.html">userdetails</a></li>
          <li><a href="register.html">registration</a></li>
          <li><a href="crud.html">crud</a></li>
          <li class="last"><a href="#">Text Link</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div class="wrapper row2">
    <div id="container" class="clear">
      <section id="slider"><a href="#"><img src="images/960x360.gif" alt=""></a></section>
      <div id="homepage">
        <section id="services" class="clear">
          <article class="one_third">
            <figure><img src="images/290x180.gif" width="290" height="180" alt="">
              <figcaption>
                <h2>Indonectetus facilis</h2>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                <footer class="more"><a href="#">Read More &raquo;</a></footer>
              </figcaption>
            </figure>
          </article>
          <article class="one_third">
            <figure><img src="images/290x180.gif" width="290" height="180" alt="">
              <figcaption>
                <h2>Indonectetus facilis</h2>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                <footer class="more"><a href="#">Read More &raquo;</a></footer>
              </figcaption>
            </figure>
          </article>
          <article class="one_third lastbox">
            <figure><img src="images/290x180.gif" width="290" height="180" alt="">
              <figcaption>
                <h2>Indonectetus facilis</h2>
                <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
                <footer class="more"><a href="#">Read More &raquo;</a></footer>
              </figcaption>
            </figure>
          </article>
        </section>
        <section id="intro" class="last clear">
          <article>
            <figure><img src="images/450x250.gif" width="450" height="250" alt="">
              <figcaption>
                <h2>Indonectetus facilis leo nibh</h2>
                <P>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                  classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                  professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                  consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                  literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
                  "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book
                  is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem
                  Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</P>
                <footer class="more"><a href="#">Read More &raquo;</a></footer>
              </figcaption>
            </figure>
          </article>
        </section>
      </div>
    </div>
  </div>
  <div class="wrapper row3">
    <div id="footer" class="clear">
      <section class="one_quarter">
        <h2 class="title">Link Block</h2>
        <nav>
          <ul>
            <li><a href="#">Lorem ipsum dolor sit</a></li>
            <li><a href="#">Amet consectetur</a></li>
            <li><a href="#">Praesent vel sem id</a></li>
            <li><a href="#">Curabitur hendrerit est</a></li>
            <li class="last"><a href="#">Sed a nulla urna</a></li>
          </ul>
        </nav>
      </section>
      <section class="one_quarter">
        <h2 class="title">Link Block</h2>
        <nav>
          <ul>
            <li><a href="#">Lorem ipsum dolor sit</a></li>
            <li><a href="#">Amet consectetur</a></li>
            <li><a href="#">Praesent vel sem id</a></li>
            <li><a href="#">Curabitur hendrerit est</a></li>
            <li class="last"><a href="#">Sed a nulla urna</a></li>
          </ul>
        </nav>
      </section>
      <section class="one_quarter">
        <h2 class="title">Link Block</h2>
        <nav>
          <ul>
            <li><a href="#">Lorem ipsum dolor sit</a></li>
            <li><a href="#">Amet consectetur</a></li>
            <li><a href="#">Praesent vel sem id</a></li>
            <li><a href="#">Curabitur hendrerit est</a></li>
            <li class="last"><a href="#">Sed a nulla urna</a></li>
          </ul>
        </nav>
      </section>
      <section class="one_quarter lastbox">
        <h2 class="title">Link Block</h2>
        <nav>
          <ul>
            <li><a href="#">Lorem ipsum dolor sit</a></li>
            <li><a href="#">Amet consectetur</a></li>
            <li><a href="#">Praesent vel sem id</a></li>
            <li><a href="#">Curabitur hendrerit est</a></li>
            <li class="last"><a href="#">Sed a nulla urna</a></li>
          </ul>
        </nav>
      </section>
    </div>
  </div>
  <div class="wrapper row4">
    <footer id="copyright" class="clear">
      <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">Domain Name</a></p>
      <p class="fl_right">Template by <a target="_blank" href="https://unsplash.com/images/nature"
          title="Free images">natureimages</a></p>
    </footer>
  </div>
</body>

</html>