/* ===============
        Global
    =============== */
    *{
        margin:0;
        padding:0;
        /* border:1px solid red; */
    }
/*--------------------------- Elements --------------------------- */
body{
    color:#C0BAB6;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:13px;
}
h1{
    font-size:36px;
    font-weight:normal;
}
h2{
    font-weight:normal;
    font-size:13px;
}
a{
    text-decoration:none;
    outline:none;
}
ul li{
    list-style-type: none;
}

.wrapper{
    width:100%;
}
/*--------------------------- Header--------------------------- */
.row1{
    background-color: #333333;
    overflow:auto;
}
header{
    width:960px;
    margin:0 auto;
    padding:20px 0;
    overflow:hidden;
}
/*--------------- Title----------------- */
#title{
    float:left;
    margin:0 0 20px 0;   
}
#title a{
    color:#C0BAB6;   
}
/*--------------- Nav bar----------------- */
nav{
    float:right;
    margin:10px 0 0 0;
    padding:20px 0;
    color: #C0BAB6;
    background-color: #232323
}
nav ul{
    list-style-type: none;
    text-transform:uppercase;
    padding:0 20px;
}
nav ul li{
    display:inline;
    list-style-type: none;
    margin-right:25px;
}
.last{
    margin-right:0;
}
nav a{
    text-decoration:none;
    color:#C0BAB6;
}
/*==========================================Container==========================================*/
.container{
    width:960px;
    padding:30px 0;
    margin:0 auto;
    overflow:auto;
}
/*==========================================section 1==========================================*/
.section1{
    overflow:auto;
    width:100%;
    margin-bottom:50px;
}
.section1 figure {
    float:right;
}
.section1 figure img{
    width:100%;
}
.section1 figcaption{
    float:left;
    width:280px;
    height:260px;
    color: #989898;
    background-color: #DEDEDE;
    line-height:1.6em;
    padding:20px;
}
.section1 figcaption strong{
    font-size:42px;
    font-style: italic;
    font-weight:normal;
    line-height:normal;
}
.section1 figcaption p{
    margin:13px 0;
}
.section1 figcaption .readmore a{
    background-color: #DEDEDE;
}
.readmore{
    float:right;
    margin:0;
}
.readmore a{
    color: #FF9900;
    background-color: white;
}
/*==========================================Homepage==========================================*/
#homepage{
    width:100%;
    overflow:auto;
}
/*==========================================section 2==========================================*/
.section2{ 
    line-height:1.6em;
    margin-bottom:50px;
    overflow:auto;
}
.sec2_article{
    width:300px;
    float:left;
    margin-right:30px;
    color: #979797;
}
.section2 #article3{
    margin-right:0px;
}
.sec2_article h2{
    font-size:14px;
    margin-bottom:15px;
    font-weight:bold;
    line-height:normal;

}
.sec2_article img{
    float:left;
    padding:4px;
    margin:0 10px 10px 0;
    line-height:normal;
    border: 1px solid #DEDEDE;

}
/*==========================================section 3==========================================*/
.section3{
    margin-bottom:50px;
}
.sec3_article{
    float:left;
    width:225px;    
    margin-right:20px;
    color: #919191;
}
.section3 #article4{  
    margin-right:0;
}
.sec3_article figure img{
    border:1px solid #DEDEDE;
    padding:4px;
    margin-bottom:10px;
}
.sec3_article figcaption h2{
    font-size:14px;
    font-weight:bold;
    font-style:normal;
    line-height:normal;
}
.sec3_article figcaption p{
    margin:13px 0;
    line-height:1.6em;
}
/*==========================================Footer==========================================*/
/* =====================Footer======================== */
.row3{
    background-color: #232323;
}
footer{
    clear:both;
    width:960px;
    margin:0 auto;
    overflow:auto;
}
footer p{
    font-size:13px;
}
footer #left_footer{
    float:left;
    padding:20px 0;
}
footer #right_footer{
    float:right;
    padding:20px 0;
}


/* ===================== Media Queries ======================= */

/* mobile devices */
@media only screen and (max-width: 600px) {
    *{
      box-sizing: border-box;
    }
  
    [class*="col-"] {
      width: 100%;
    }
  
    header {
      padding: 20px 0 0 0;
    }
    #title {
      float: none;
      text-align: center;
    }
    nav {
        float:none;
      padding: 0;
    }
    nav ul {
      padding: 10px 20px 0 20px;
      background: transparent;
    }
    nav ul li {
      display: block;
      text-align: center;
      text-transform: uppercase;
      background-color:thistle ;
      /* border: 1px solid white; */
      padding: 5px 0px;
      margin: 0 0 8px 0;
    }
    nav ul li a {
      color: black;
      font-weight: bold;
    }
  
    .container{
      padding-left:15px;
      padding-right:15px;
        
    }  
    .section1 figure {
        float:none;
    }
    .section1 figcaption{
        float:none;
        width:100%;
        line-height:1.6em;
        padding:13px;
        height:auto;
    }
    .section1 figcaption strong{
        font-size:1.5em;
        font-style: italic;
        font-weight:normal;
        line-height:normal;
    }
    .section1 figcaption .readmore a{
        background-color:white;
    }
    .sec2_article{
        margin-right:0;
        margin-bottom:30px;
        width:100%;
    }
    .sec3_article{
        width:100%;
    }
    .sec3_article figure{
        clear:both;
        text-align:center;
    }
    .sec3_article figcaption{
        text-align:center;
    }
    footer{
        padding:20px;
        text-align:center;
    }
    #left_footer,
    #right_footer {
      float: none;
      width: 100%;
      padding:10px 0;
    }
  }
  
  /* Tablet */
  @media only screen and (min-width: 601px) and (max-width: 960px){
     *{
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
    }
    .col-1 {
      width: 8.33%;
    }
    .col-2 {
      width: 16.66%;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33.33%;
    }
    .col-5 {
      width: 41.66%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33%;
    }
    .col-8 {
      width: 66.66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33%;
    }
    .col-11 {
      width: 91.66%;
    }
    .col-12 {
      width: 100%;
    }
  
    header {
      padding: 20px;
    }
    .container{
        padding-left:20px;
        padding-right:20px;
    }
    .section1 figure {
       width:75%;
       height:atuo;
    }
    .section1 figcaption{
        
        width:25%;
        line-height:1.3em;
        padding:10px;
        overflow:auto;
    }
    .section1 figcaption strong{
        font-size:1.2em;
        font-style: italic;
        font-weight:normal;
        line-height:normal;
    }
    .section1 figcaption .readmore a{
        background-color:white;
    }
    .sec2_article{
        margin-right:0;
        margin-bottom:30px;
        width:100%;
    }
    .sec3_article{
        width:45%;
        float:left;
    }
    .sec3_article figure{
        clear:both;
        text-align:center;
    }
    .sec3_article figcaption{
        text-align:center;
    }
    footer{
        padding:0 20px;
    }
    #left_footer,
    #right_footer {
      padding:20px 5px;
    }
  }
  