body {
    font-size: 13px;
    margin: 0;
    padding: 0;
    columns: #919191;
}
div.maincamp{
    text-align: left;
}


.maincamp{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}
.sub1{
    color: #C0BAB6;
    background-color: blueviolet;
    padding: 0%;
}
#header{
    display: block;
    margin: 0 auto;
    width: 960px;
    padding: 20px 0;
    overflow: auto;
}
.clear{
    clear: both;
}
#hgroup{
    float: left;
    margin: 0 0 20px 0;
}
#hgroup h1{
    font-size: 40px;
    font-weight: normal;
    text-transform: none;

   
}
a{
    outline: none;
    text-decoration: none;
.sub1 a{
    outline: none;
    text-decoration: none;
    color: #C0BAB6;
    text-decoration: none;
    outline: none;
}
#hgroup h2{
    font-weight: normal;
    text-transform: none;
    font-size: 15px;
}
#header nav{
    display: block;
    float: right;
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background-color: #232323;
}
#header nav ul{
    padding: 0 20px;
    list-style: none;
}
.clear{
    clear: both;
}
#header nav ul li{
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
#header nav ul li a:hover{
    color:orange;
    cursor: pointer;
}
.last{
    margin-right: 0 auto;
}