
/* ===============
        Global
    =============== */
*{
    margin:0;
    padding:0;
    /* border:1px solid red; */
}
/*--------------------------- Elements --------------------------- */
body{
    color:#C0BAB6;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:13px;
}
h1{
    font-size:36px;
    font-weight:normal;
}
h2{
    font-weight:normal;
    font-size:13px;
}
a{
    text-decoration:none;
    outline:none;
}
ul li{
    list-style-type: none;
}

.wrapper{
    width:100%;
}
/*--------------------------- Header--------------------------- */
.row1, .row3{
    background-color: #333333;
    overflow:auto;
}
.row1 header{
    width:960px;
    margin:0 auto;
    padding:20px 0;
    overflow:hidden;
}
/*--------------- Title----------------- */
.row1 header #title{
    float:left;
    margin:0 0 20px 0;   
}
.row1 header #title a{
    color:#C0BAB6;   
}
/*--------------- Nav bar----------------- */
header nav{
    float:right;
    margin:10px 0 0 0;
    padding:20px 0;
    color: #C0BAB6;
    background-color: #232323
}
header nav ul{
    list-style-type: none;
    text-transform:uppercase;
    padding:0 20px;
}
header nav ul li{
    display:inline;
    list-style-type: none;
    margin-right:25px;
}
.last{
    margin-right:0;
}
nav a{
    text-decoration:none;
    color:#C0BAB6;
}
/*--------------------------- Home Page--------------------------- */
#container{
    /* background-color:red; */
    margin:0 auto;
    padding:30px 0;
    width:960px;
    box-sizing: border-box;
    overflow:auto;
    color: #979797;
}
#homepage{
    /* background-color:yellow; */
    width:100%;
    margin:0;
    box-sizing: border-box;
    overflow:hidden;
    line-height: 1.6em;
}
/*---------------Section I ----------------- */
#section1{
    margin-bottom:30px;
    overflow:auto;
}
#section1 article{
    float:left;
    margin-right:20px;
    width:225;

}
#homepage article figure{
    padding:4px;
    border: 1px solid #D6D6D6;
}
#homepage article figcaption{
    padding:5px;
    text-align:center;
    color:#979797;
    background-color: #EEEEEE;
}
#homepage #article4{
    margin-right:0;
}
/*---------------Section II ----------------- */
#homepage #section2{
    padding: 0 0 20px 0;
    margin: 0 0 30px 0;
    border-bottom:1px solid #DEDEDE;
}
#homepage #section2 p{
    line-height:1.8em;
    font-size:20px;
    text-align:center;
} 
/*--------------------------- Main Cpntent--------------------------- */
#main{
    /* background-color:green; */
    width:630px;
    line-height:1.6em;
    overflow:auto;
    float:left;
}
#main #section3 ul{
    overflow:auto;
}
#main #section3 ul li{
    overflow:auto;
    /* background-color:yellow; */
}
#main #section3 ul #li1{
    padding:0 0 30px 0;
}
#main #section3 ul li article{
    overflow:auto;
}
#main #section3 ul li figure img{
    float:left;
    padding:4px;
    border: 1px solid #666666
}
#main #section3 ul li figcaption{
    float:right;
    width:410px;
    /* overflow:auto; */
    /* background-color:pink; */
}
#main #section3 ul li figcaption h2{
    font-size:14px;
    font-weight:bold;
    font-style:none;
    line-height:normal;
    
}
#main #section3 ul li figcaption p{
    margin:13px 0;
    color:#aa9ca4;
}
#readmore{
    text-align:right;
}
#readmore a{
    text-align:right;
    color: #FF9900 ;
    background-color: #FFFFFF
}
/*--------------------------- Aside--------------------------- */
aside{
    float:right;
    width:280px;
}
aside h2{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DEDEDE;
    font-weight:bold;
    font-size:16px;
}
aside nav ul li a{
    margin-bottom:3px;
}
aside nav ul li a{
    list-style-type: none;
    display:block;
    background: url(./images/orange_file.gif) no-repeat 10px center #FFFFFF;
    padding: 5px 10px 5px 20px;
    border-bottom: 1px dotted #666666;
    color: #666666;

}
/*--------------------------- Footer--------------------------- */
#main_footer{
    width:960px;
    margin:0 auto;
    background-color: #333333;
    clear:both;
}
#main_footer p{
    font-size:13px;
}
#main_footer #left_footer{
    float:left;
    padding:20px 0;
}
#main_footer #right_footer{
    float:right;
    padding:20px 0;
}
